<div class="form py-4">
  <div class="my-1">
    <label for="title" class="control-label">Titulo</label>
    <input
      type="text"
      id="title"
      class="form-control"
      placeholder="Introduce la tarea"
      [(ngModel)]="titulo"
    />
  </div>

  <div class="my-1">
    <label for="prioridad" class="control-label">Prioridad</label>
    <select id="prioridad" class="form-select" [(ngModel)]="prioridad">
      <option selected>Selecciona una prioridad</option>
      <option value="urgente">Urgente</option>
      <option value="diaria">Diaria</option>
      <option value="mensual">Mensual</option>
    </select>
  </div>
  <button (click)="guardarTarea()" class="btn btn-secondary mt-2">
    Guardar
  </button>
</div>
